{{extend "layout.html"}}

<div>
  <div class="tabbable row-fluid"> <!-- Only required for left/right tabs -->
<!--     <ul class="nav nav-pills">
      <li class="active span6"><a href="#tab1" data-toggle="tab"><h4><i class="icon-folder-open icon-white"></i> file from my device</h4></a></li>
      <li class="span6" ><a href="#tab2" data-toggle="tab"><h4><i class="icon-globe icon-white"></i> image from the web</h4></a></li>
    </ul> -->
    <div class="tab-content row-fluid">
      <div class="tab-pane active" id="tab1">
          



        <div id = "right"></div>



      </div>
      
      <div class="tab-pane" id="tab2">
       
      </div>
    </div>
  </div>
</div>