<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="sociagora/static/css/application/sociagora.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <title>sociagora: visualize twitter collectives</title>

  <div id = "left">
    <h2> Are Twitter users as politically polarized as the general U.S. population? </h2>
    <h3> Reach Network of U.S. Senators </br> (Twitter, 06/23/13) </h3>
    <h4>
      (<b class = "republican">Red = Republican </b>, <b class = "democrat"> Blue = Democrat </b>, <b class = "independent"> Green = Independent</b>)
      </br>
      Width of edge proportional to level of normalized follower co-occurence (i.e. Jaccard index (symmetric); min requirement for edge = 0.10).
      </br>
      Area of circle proportional to number of followers (SenJohnMcCain = 1,811,106). 
    </h4>
  </div>

  <div id = "right"></div>

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="sociagora/static/js/application/sociagora.js"></script>
</body>

</html>
