<div class="page-header ca_section">
  <h3> 
    Are Twitter users as politically polarized as the general U.S. population? 
    <br><small>Reach Network of U.S. Senators (Twitter, 06/23/13) </small>
  </h3>
</div>
    
<div class="ca_section" id="left">
  <h4>
    (<b class = "republican">Red = Republican </b>, <b class = "democrat"> Blue = Democrat </b>, <b class = "independent"> Green = Independent</b>)
  </h4>
                  </br>
    Width of edge proportional to level of normalized follower co-occurence (i.e. Jaccard index (symmetric); min requirement for edge = 0.10).
    </br>
    Area of circle proportional to number of followers (SenJohnMcCain = 1,811,106). 
</div>